/* App.css */
.app-container {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #f0f8ff, #e6f7ff);
  font-family: 'Poppins', sans-serif;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: background 0.3s, color 0.3s;
}

.night-mode {
  background: linear-gradient(135deg, #2c3e50, #34495e);
  color: #ecf0f1;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.input-section {
  margin: 10px 0;
}

.mood-section {
  margin: 10px 0;
}

.mood-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.mood-button {
  width: 120px;
  height: 60px;
  border: none;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.mood-button.selected {
  transform: scale(1.1);
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.toggle-mode-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.clear-mood-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #e74c3c;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.add-mood-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #2ecc71;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

/* Main content area styling */
.main-content {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  width: 100%;
  padding: 0 10px;
}

.mood-history,
.mood-chart {
  width: 48%;
}

.mood-history {
  background-color: #f9f9f9;
  color: #333;
  flex: 1 1 40%;
  max-width: 400px;
  border-radius: 10px;
  overflow-y: auto;
  height: 400px;
  margin-right: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mood-history h2 {
  color: #007BFF;
  margin-bottom: 15px;
}

.mood-history ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.mood-history li {
  margin: 10px 0;
  padding: 15px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  background-color: #ffffff;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.mood-history li:hover {
  background-color: #e9f5ff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.mood-history li strong {
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .mood-history,
  .mood-chart {
    width: 100%;
    max-width: none;
    margin-bottom: 20px;
  }
}
